@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
@font-face {
  font-family: 'TT Norms';
  src: url('../public/src/assets/font/TTNorms-Regular.otf');
}
@font-face {
  font-family: 'TT Norms Bold';
  src: url('../public/src/assets/font/TTNorms-Bold.otf');
}
@font-face {
  font-family: 'TT Norms semiBold';
  src: url('../public/src/assets/font/TTNorms-Medium.otf');
}


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
